# REVIEW EXERCISE


1. Create a new database with a table named 'Roster' that has three fields:
   'Name', 'Species', and 'Age'.
   The 'Name' and 'Species' columns should be text fields and the 'Age' column should be an integer field.

In [50]:
# Do the necessary imports
import sqlite3

# Make Sure to cleanse away the table if we already filled one before
sql_drop = """
	DROP TABLE IF EXISTS Roster;"""

# Prepare a SQL statement to create the table
sql_table = """
    CREATE TABLE IF NOT EXISTS Roster(
        Name TEXT,
        Species TEXT,
        Age INTEGER
    );"""

# Establish a database connection object (this is attempt no. 1, hence _v1)
with sqlite3.connect("rosterDB.db") as db_v1:
    db_cursor = db_v1.cursor()  # set up a cursor object
    db_cursor.execute(sql_drop)  # make sure to throw away any inputs/inserts that were done so far
    db_cursor.execute(sql_table)  # actually execute the query to create the specified table

2. Populate your new table with the following values:
   | Name            | Species     | Age        |
   | Benjamin Sisko  | Human       |  40        |
   | Jadzia Dax      | Trill       | 300        |
   | Kira Nerys      | Bajoran     |  29        |

In [51]:
# Create the data to be filled in via TUPLES!
my_values = (
	('Benjamin Sisko', 'Human', 40),
	('Jadzia Dax', 'Trill', 300),
	('Kira Nerys', 'Bajoran', 29)
)

# Set up a SQL INSERT-query
sql_insert = """
    INSERT OR IGNORE INTO Roster
    VALUES(?, ?, ?)
    ;"""

# Set up a SQL SELECT query in order to be able to retrieve data
sql_select = """
    SELECT * FROM Roster;
    """

# Establish a database connection object (this is attempt no. 2, hence _v2)
with sqlite3.connect('rosterDB.db') as db_v2:

	db_cursor = db_v2.cursor()  # set up a cursor object
	db_cursor.executemany(sql_insert, my_values)  # Actually execute the INSERT-statement

	result = db_cursor.execute(sql_select)  # print each row of our results
	for i in result:
		print(i)

('Benjamin Sisko', 'Human', 40)
('Jadzia Dax', 'Trill', 300)
('Kira Nerys', 'Bajoran', 29)

3. Update the name of Jadzia Dax to be 'Ezri Dax'.

In [52]:
# Set up the new values to be inserted via an UPDATE-statement
substitute_values = ('Ezri Dax')

# Prepare a SQL statement for UPDATING values using 'UPDATE' 'SET' and 'WHERE' specifications
sql_update = """
	UPDATE Roster
	SET Name = ? 
	WHERE Name = 'Jadzia Dax' and Species = 'Trill' and Age = 300;
	"""

# Establish a database connection object (this is attempt no. 3, hence _v3)
with sqlite3.connect('rosterDB.db') as db_v3:

	db_cursor = db_v3.cursor()  # set up a cursor object
	db_cursor.executemany(sql_update, substitute_values)  # Actually execute the UPDATE-statement

4. Display the Name and Age of everyone in the table classified as Bajoran

In [58]:
# Define a search term
search_term = ('Bajoran')

# Prepare a SQL statement for SELECTING 'Name' and 'Age' of everyone who is matching the criterion 'Species' = 'Bajoran'
sql_select = """
	SELECT  Name, Age
	FROM Roster
	WHERE Species = ?;
	"""

# Establish a database connection object (this is attempt no. 4, hence _v4)
with sqlite3.connect('rosterDB.db') as db_v4:

	db_cursor = db_v4.cursor()  # set up a cursor object
	result = db_cursor.execute(sql_select, (search_term,))  # Actually execute the SELECT-statement

		# ATTENTION HERE:
		# The '(search_term,)' must be passed in here with a ',)' to simulate to SQLite that we're passing in multiple tuples
		# God knows why it does not accept a single one...

	for i in result:
		print(i)

('Kira Nerys', 29)