UPFRONT: How are relations even structured within a database?

- Each table has its an identifier-column for its very own datasets/rows

- When there is a relationship between one or more tables it is depictioned via so called 'foreign keys'.
  (A foreign key is simply one table's primary key being placed in an attribute column of another table)

  Those may be allocated in the respective tables according to the following rules of relationship transformations:

        1:1  ->  which of the both receives the foreign key does NOT matter! can be chosen freely.
        1:n  ->  the n-side table receives the  foreign key
        n:m  ->  both, the n-side's primary key as well as the m-side's primary key get OUTSOURCED into a dedicated relationship table

# SQL provides us with three different aspects in terms of data handling:

    # 1. DDL "data definition language"     e.g.: defining the structure of our DB

    # 2. DML "data manipulation language"   e.g.: retrieving data from the DB or writing/deleting data to/from the DB

    # 3. DCL "data control language"        e.g.: creating user accounts, managing DBMS access rights

In [1]:
# Examples for DDL expressions: "CREATE", "ALTER", "DROP"

# e.g.:
create_query = """CREATE TABLE customer(
    customer_ID         INTEGER  PRIMARY KEY NULL,
    customer_lastName   CHAR(20) NOT NULL,
    customer_firstName  CHAR(20) NOT NULL
    );"""

# e.g.:
alter_query = """ALTER TABLE customer
                 ADD customer_age INTEGER(100);"""

# e.g.:
drop_query = """DROP TABLE customer;"""

In [1]:
# Examples for DML expressions: "INSERT INTO", "UPDATE", "DELETE FROM"

# e.g.:
insert_query = """INSERT INTO customer(
    customer_ID,
    customer_lastName,
    customer_firstName)
    VALUES('?', '?', '?');"""  # parameterized

# e.g.:
update_query = """UPDATE customer
    SET customer_lastName = 'Albert'
    WHERE customer_ID = 1;"""
    # what would also be possible:
    # SET Price = Price *1,5


# e.g. with different operators:
select_query = """SELECT article.ArticleName, article.ArticleCategory, article.RetailPrice
                  FROM article
                  WHERE articleID = 758;"""
                  # further possible operators would be:
                                # <>    'not equal'
                                # >     'greater than'
                                # <     'less than'
                                # AND
                                # OR
                                # IN        e.g. "WHERE ArticleCategory IN ('Boat', 'Gear', 'Glue')"
                                # NOT       e.g. "WHERE ArticleCategory NOT IN ('Boat', 'Gear', 'Glue')"
                                # BETWEEN   e.g. "WHERE RetailPrice BETWEEN 15 AND 30"
                                # LIKE      e.g. "WHERE ZipCode LIKE '9____' "
                                # LIKE'%'   e.g. "WHERE LastName LIKE 'A%' "

# e.g. with aggregation (GROUP BY):
select_query = """SELECT article.ArticleCategory,
                         Max(article.PurchasePrice)  AS MaxPurchasePrice,
                         Avg(RetailPrice)  AS AvgRetailPrice,
                         Sum(Stock)  AS SumStock
                  FROM article
                  GROUP BY ArticleCategory;"""
                  # in order to filter for a single item out of the result above, we'll need a 'HAVING' clause (see next example)


# e.g. with aggregation (GROUP BY) and a filter (HAVING):
select_query = """SELECT article.ArticleCategory,
                         Max(article.PurchasePrice)  AS MaxPurchasePrice,
                         Avg(RetailPrice)  AS AvgRetailPrice,
                         Sum(Stock)  AS SumStock
                  FROM article
                  GROUP BY ArticleCategory
                  HAVING ArticleCategory = 'Boat' OR ArticleCategory = 'Gear';""" # here we're provided with a possibility to filter the result again individually


# e.g. with sorting (ORDER BY) and  joining tables (INNER JOIN):
select_query = """SELECT customer.LastName, customer.FirstName, sales.Date
                  FROM customer
                  INNER JOIN sales
                  ON customer.CustID  =  sales.CustomerID
                  ORDER BY customer.LastName ASC;"""


# e.g. for all -> with aggregation (GROUP BY), sorting (ORDER BY) and  joining tables (INNER JOIN):
select_query = """SELECT customer.LastName, customer.FirstName, sales.Date
                  FROM customer
                  INNER JOIN sales
                  ON customer.CustID  =  sales.CustomerID
                  GROUP BY customer.LastName
                  ORDER BY customer.LastName ASC;"""